<div class="crop" 
    [style.width.px]="starWidth"
    [title]="rating">
    <div (click)="onClick()" [style]="cssStyle">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </div>
</div>