<div class="panel panel-primary" *ngIf="product">
    <div class="panel-heading" style="font-size:large">
        {{pageTitle + ": " + product.productName}}
    </div>

    <div class="panel-body">
        <div class="row">
            <form (ngSubmit)="onSubmit()" #productForm="ngForm" [hidden]="submitted">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name" class="col-md-3">Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="product.productName" name="productName" #productName="ngModel" required>
                        <div [hidden]="productName.valid || productName.pristine" class="alert alert-danger">
                            Name is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-md-3">Code</label>
                        <input type="text" class="form-control" id="code" [(ngModel)]="product.productCode" name="productCode" required #productCode="ngModel">
                        <div [hidden]="productCode.valid || productCode.pristine" class="alert alert-danger">
                            Code is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-md-3">Description</label>
                        <input type="text" class="form-control" id="description" [(ngModel)]="product.description" name="description" required #description="ngModel">
                        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                            Description is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="availability" class="col-md-3">Availability</label>
                        <input type="text" class="form-control" id="availability" [(ngModel)]="product.releaseDate" name="releaseDate" required #releaseDate="ngModel">
                        <div [hidden]="releaseDate.valid || releaseDate.pristine" class="alert alert-danger">
                            Availability is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-md-3">Price</label>
                        <input type="text" class="form-control" id="price" [(ngModel)]="product.price" name="price" required #price="ngModel">
                        <div [hidden]="price.valid || price.pristine" class="alert alert-danger">
                            Price is required
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">5 Star Rating:</div>
                        <div class="col-md-6">
                            <nat-star [rating]="product.starRating"
                                    (ratingClicked)="onRatingClicked($event)">
                            </nat-star>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-submit" [disabled]="!productForm.form.valid">Submit</button>
                    </div>                    
                </div>
            </form>
            <div class="col-md-6">
                <img class="center-block img-responsive" 
                     [style.width.px]="200" 
                     [style.margin.px]="2" 
                     [src]="product.imageUrl"
                     [title]="product.productName">
            </div>
        </div>
        <div [hidden]="!submitted">
            <h2>You submitted the following:</h2>
            <div class="row">
                <div class="col-xs-3">Name</div>
                <div class="col-xs-9  pull-left">{{ product.productName }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Code</div>
                <div class="col-xs-9 pull-left">{{ product.productCode }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Description</div>
                <div class="col-xs-9 pull-left">{{ product.description }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Availability</div>
                <div class="col-xs-9 pull-left">{{ product.releaseDate }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Price</div>
                <div class="col-xs-9 pull-left">{{ product.price }}</div>
            </div>
            <br>
            <button class="btn btn-default" (click)="submitted=false">re-Edit</button>
            <button class="btn btn-default" (click)="onContinue()">Continue</button>
        </div>
    </div>
    <div>{{diagnostic}}</div>
    <div class="panel-footer">
        
    </div>
</div>
