<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter'/>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}}</h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'
                   *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>
                            <button (click)='toggleImage()' class='btn btn-primary'>
                                {{getImageTextBtn()}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products | productFilter: listFilter'>
                        <td><img [src]="product.imageUrl" alt="product image" *ngIf="showImage" [height]="imageSize"></td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price }}</td>
                        <td><nat-star 
                                [rating]="product.starRating" 
                                (notify)='onNotify($event)'>
                            </nat-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div><input [(ngModel)]="saisieText">{{saisieText}}</div>
    </div>
</div>